@model SaleDelivery

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@{
    var CanRead = AuthorizationService.AuthorizeAsync(User, "CanRead");
    var CanWrite = AuthorizationService.AuthorizeAsync(User, "CanWrite");
}

@{
    ViewData["Title"] = "Detalle Despacho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="containerDeliveryDetail">
    @if (Model.DeliveryState == DeliveryState.WithInvoice)
    {
        <partial name="_SaleDeliveryListWithInvoice" model="Model" />
    }
    else
    {
        <partial name="_SaleDeliveryListWithOutInvoice" model="Model" />
    }
</div>

<partial name="_DeliveriesModal" />

@section scripts
{
    <script>

    </script>
}