@{
    ViewData["Title"] = "Lista Despachos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-3">
    <div class="form-floating mb-3">
        <select class="form-control" id="yearFilter" name="yearFilter">
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
        <label class="form-label" for="yearFilter">Seleccionar Año</label>
    </div>
</div>


<table id="deliveriesTable" class="table table-hover">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Despacho</th>
            <th>Orden de Compra</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {

            

            var deliveriesDataTable = $('#deliveriesTable').DataTable({
                language: {
                    info: 'Pagina _PAGE_ de _PAGES_',
                    infoEmpty: 'No hay informacion disponible',
                    infoFiltered: '(Filtrado desde _MAX_ items totales)',
                    lengthMenu: 'Visualizar _MENU_ items por pagina',
                    zeroRecords: 'No se ha encontrado informacion',
                    search: "Buscar:",
                    paginate: {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                stateSave: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@Url.Action("GetSaleDeliveries", "SaleDeliveries")',
                    type: 'POST',
                    data: function (d) {
                        d.currentYear = $("#yearFilter").val();
                    }
                },
                columns: [
                    { 
                        data: 'customer' 
                    },
                    {
                        data: 'number'
                    },
                    { 
                        data: null,
                        render: function (data, type, row) 
                        {
                            return '<a href="/Sales/Details?Id=' + data.saleId + '">'+ data.saleNumber +'</a>';
                        }
                    }, 
                    {
                        data: 'date',
                        render: DataTable.render.date()
                    },
                    {
                        data: 'total',
                        render: DataTable.render.number(null, null, 0, '$')
                    },
                    {
                        data: 'state',
                        orderable: false,
                        render: function (data, type, row) {
                            if (row.state == "Empty") { return "Vacio"; }
                            if (row.state == "WithItems") { return "Pendiente"; }
                            if (row.state == "WithInvoice") { return "Facturado"; }
                        }
                    },
                    {
                        data: null,
                        orderable: false,
                        render: function (data, type, row) {
                            return '<a data-bs-toggle="tooltip" data-bs-title="Detalle" href="/SaleDeliveries/Details?Id=' + data.id + '"><i class="bi-file-text" style="vertical-align: middle;"></i></a>';
                        }
                    }
                ],
                order: [[2, 'desc']],
                drawCallback: function () {
                    $('[data-bs-toggle="tooltip"]').tooltip();
                }
            });

            $("#yearFilter").on('change', function () {
                localStorage.setItem('selectedYear', $(this).val());
                deliveriesDataTable.ajax.reload();
            });
        });
    </script>
}