@page
@model DetailsModel
@{
}
<div class="accordion" id="accordionUserDetail">

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infoGeneral" aria-expanded="true" aria-controls="infoGeneral">
                Información General Usuario
            </button>
        </h2>

        <div id="infoGeneral" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.userName</td>
                            <td>@Model.Name</td>
                            <td>@Model.LastName</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#editItem" aria-expanded="true" aria-controls="editItem">
                Roles y Permisos
            </button>
        </h2>

        <div id="editItem" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <form id="detailsForm" method="post">
                    <div class="mb-3">
                        <div class="form-switch form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="Input.CanRead">
                            <label class="form-check-label" for="flexCheckDefault">
                                Lectura
                            </label>
                        </div>
                        <div class="form-switch form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="Input.CanWrite">
                            <label class="form-check-label" for="flexCheckDefault">
                                Escritura
                            </label>
                        </div>
                        <div class="form-switch form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="Input.CanDelete">
                            <label class="form-check-label" for="flexCheckDefault">
                                Borrar
                            </label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Input.roleId" class="form-control" asp-items="Model.roleList"></select>
                        <label asp-for="Input.roleId" class="form-label"></label>
                        <span asp-validation-for="Input.roleId" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="Input.token" />

                    <div class="form-floating mb-3">
                        <button id="registerSubmit" type="submit" class="btn btn-success">Actualizar</button>
                    </div>
                </form>
            </div>
            
        </div>

    </div>

</div>

<div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <strong role="status">Actualizando Usuario ...</strong>
                    <div class="spinner-border ms-auto text-success" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).on('click', '#registerSubmit', function () {
            $("#loadingModal").modal('show');
        });
    </script>
}
