@page
@using Microsoft.AspNetCore.Authorization
@model LoginModel
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Iniciar Sesion";
}

@{
    var superUser = await AuthorizationService.AuthorizeAsync(User, "IsSuperUser");
}

<main class="form-signin w-100 m-auto">
    <form id="account" method="post">

        <h1 class="h3 mb-3 fw-normal text-center">Iniciar sesion</h1>
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        
        <button id="login-submit" type="submit" class="btn btn-success w-100 py-2">Iniciar sesion</button>

    </form>
    <hr />

    @if (superUser.Succeeded)
    {
        <div class="form-floating">
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar un nuevo usuario</a>
        </div>
    }
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}